:root {
  color-scheme: light;
  --primary-background: #bc3f3c;
  --primary-color: #fff;
  --text-color: #2d2d2d;
  --text-color-muted: #676767;
  --canvas-background: #e8e8e8;
  --container-background: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --primary-color: #fff;
    --text-color: #fff;
    --text-color-muted: #9e9e9e;
    --canvas-background: #1b1b1b;
    --container-background: #2d2d2d;
  }
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: var(--canvas-background);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  width: 100%;
  margin: 0;
  padding: 0;
}
